APScheduler==3.11.0
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.6
django-cors-headers==4.8.0
django-jazzmin==3.0.1
django-tinymce==4.1.0
djangorestframework==3.16.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
PyJWT==2.10.1
python-decouple==3.8
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.5.0
whitenoise==6.10.0
