<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% if site_info and site_info.favicon %}{{site_info.favicon.url}}{% else %}{% static 'favicon/favicon.ico' %}{% endif %}">

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

    {% block styles %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script src="{% static 'assets/js/base.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    
    <script>
        function toggleTheme() {
            const root = document.documentElement;
            const sun = document.getElementById('icon-sun');
            const moon = document.getElementById('icon-moon');

            if (root.classList.contains('dark')) {
                root.classList.remove('dark');
                localStorage.setItem('theme', 'light');
                sun.classList.add('hidden');
                moon.classList.remove('hidden');
            } else {
                root.classList.add('dark');
                localStorage.setItem('theme', 'dark');
                sun.classList.remove('hidden');
                moon.classList.add('hidden');
            }
        }

        (function () {
            const sun = document.getElementById('icon-sun');
            const moon = document.getElementById('icon-moon');
            if (localStorage.getItem('theme') === 'dark') {
                document.documentElement.classList.add('dark');
                sun.classList.remove('hidden');
            } else {
                document.documentElement.classList.remove('dark');
                moon.classList.remove('hidden');
            }
        })();
    </script>


</body>
</html>